VITE_CREATE_PLAYER_URL=https://bwd7fx3gk1.execute-api.eu-central-1.amazonaws.com/players
VITE_CREATE_BET_URL=https://bwd7fx3gk1.execute-api.eu-central-1.amazonaws.com/bets
VITE_PRICES_URL=https://bwd7fx3gk1.execute-api.eu-central-1.amazonaws.com/prices
VITE_APPSYNC_EVENTS_ENDPOINT=https://2zxepyqnknbwlff3wleks4skjy.appsync-api.eu-central-1.amazonaws.com/event
VITE_APPSYNC_API_KEY=<GET IT FROM TERRAFORM OUTPUTS>
VITE_APPSYNC_EVENTS_CHANNEL=/prices/BTC-USD
VITE_COGNITO_USER_POOL_ID=eu-central-1_FDlKdwtd3
VITE_COGNITO_USER_POOL_CLIENT_ID=5cj42q9gu4rsmgc43el95s3p30
